.contact{
    background-image: url(back4.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 218.5vh;
    filter: brightness(60%);
    color: rgb(255, 255, 255);
    z-index: -1;
    color: white;
    margin-left: 0;
    position: relative;
    align-self: center;
    margin-top: 0px;
}
.con-content{
    position:absolute;
    /* filter: brightness(200%); */
    bottom: -3450px;
    right: 400px;
    height: 550px;
    /* width: 600px; */
    color: rgb(255, 255, 255);
    z-index:1;
    display: flex;
}
.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}
input{
    height: 30px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    margin-top: 0px;
    border: none;
    text-decoration: none;
    outline: none;
    margin-bottom: 0px;
}
label{
    /* margin-top: 30px; */
    text-align: start;
    padding: 20px;
}
textarea{
    height: 30px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
button{
    padding: 10px;
    margin: 20px;
}
.submit{
    width: 105%;
}
.ai{
    background-color: rgb(144, 181, 236);
    border-radius: 20px 20px 20px 0px;
    position: absolute;
    bottom: 26%;
    left: 80%;
    min-width: 50%;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cc09c2, 0 0 40px #7e04a0, 0 0 50px #4004c2, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #1a3fb1, 0 0 50px #5861c4, 0 0 60px #0c90e9, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }