.contact{
    background-image: url(back4.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 218.5vh;
    filter: brightness(60%);
    color: rgb(255, 255, 255);
    z-index: -1;
    color: white;
    margin-left: 0;
    position: relative;
    align-self: center;
    margin-top: 0px;
}
.con-content{
    position:absolute;
    /* filter: brightness(200%); */
    bottom: -3450px;
    right: 400px;
    height: 550px;
    /* width: 600px; */
    color: rgb(255, 255, 255);
    z-index:1;
    display: flex;
}
.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}
input{
    height: 30px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    margin-top: 0px;
    border: none;
    text-decoration: none;
    outline: none;
    margin-bottom: 0px;
}
label{
    /* margin-top: 30px; */
    text-align: start;
    padding: 20px;
}
textarea{
    height: 30px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
button{
    padding: 10px;
    margin: 20px;
}
.submit{
    width: 105%;
}