.resume{
    background-image: url(back2.jpg);
    height: 105vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 218.5vh;
    filter: brightness(60%);
    color: rgb(255, 255, 255);
    z-index: -1;
    color: white;
    margin-left: 0;
    position: relative;
    align-self: center;
    margin-top: 38.8px;
}
.content-resume{
    background-color: rgb(61, 56, 90);
    filter: brightness(120%);
    position:absolute;
    bottom: -650px;
    right: 450px;
    height: 550px;
    width: 600px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}
.download{
    margin-top: 40px;
}
.resume-para{
    font-size: 20px;
    font-weight: 200;
}
.resume-header{
    margin-top: 100px;
    font-weight: 400;
}